<section fxLayout="column" fxFlexAlign="stretch">
  <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    <p >WELCOME TO OUR SHOP</p>
    <button
      mat-raised-button
      color="accent"
      routerLink="/menu"
    >
      Shop Now
    </button>
    <h2>You can find here various computer equipment:</h2>
  </div>
  <mat-tab-group fxFlexAlign="center">
    <mat-tab label="Laptops">
      <p>
        <img src="assets/images/logo/laptops.jpg" alt="" />
      </p>
    </mat-tab>
    <mat-tab label="Computers">
      <p>
        <img src="assets/images/logo/computers.jpg" />
      </p>
    </mat-tab>
    <mat-tab label="Monitors">
      <p>
        <img src="assets/images/logo/monitors.jpg" alt="" />
      </p>
    </mat-tab>
    <mat-tab label="Keyboards">
      <p>
        <img src="assets/images/logo/keyboards.jpg" alt="" />
      </p>
    </mat-tab>
    <mat-tab label="Mouses">
      <p>
        <img src="assets/images/logo/mouses.jpg" alt="" />
      </p>
    </mat-tab>
    <mat-tab label="Headphones">
      <p>
        <img src="assets/images/logo/headphones.png" alt="" />
      </p>
    </mat-tab>
    <mat-tab label="Storages">
      <p>
        <img src="assets/images/logo/storages.jpg" alt="" />
      </p>
    </mat-tab>
    >
  </mat-tab-group>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>
